<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" /> 
        <property name="url">
            <value>jdbc:mysql://s4dstestdb.s4ds.com:3306/ROOKIE_CORE</value>
        </property>
        <property name="username">
            <value>DEV</value>
        </property>
        <property name="password">
            <value>88624750237449</value>
        </property>
    </bean>
	
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
 	<property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="EstudiantesMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="map.EstudiantesMapper" />
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
</beans>